* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #FFF8EA;
    font-family: 'Questrial', serif;
    font-size: 24px;
}

.wrapper {
    height: 80px;
    z-index: 3;
    position: sticky;
    top: 0;
}

.header {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    background-color: #FEE044;

    font-weight: normal;
    top: 0;
}

.header__name {
    margin: 20px;
    font-size: 35px;
    font-family: 'Questrial', serif;
}

.header__name a {
    text-decoration: none;
    color: #000000;
}

.content {
    font-size: 24px;
    margin: 30px;
}

.page-btn {
    display: inline-block;

    width: 40px;
    height: 40px;
    /* TODO Fix width for small screens*/
    margin: 20px;
    padding: 0;
    border: none;
    outline: none;

    text-align: center;
    text-decoration: none;

    font-size: 30px;
    background-color: #FEE044;
    cursor: pointer;
}

.menu-sign-up-btn-wrapper {
    position: relative;
}

#menu-check {
    display: none;
}

#menu-sign-check {
    display: none;
}

#menu-check:checked ~ .wrapper .header .header__btn-menu {
    transform: rotate(90deg);
}

.content {
    position: relative;
    height: 100%;
}

.menu {
    z-index: 2;
    position: fixed;
    display: block;
    width: 70%;
    top: 80px;
    height: calc(100% - 80px);
    left: -70%;
    background-color: #BABABA;

    font-size: 25px;
    transition: left 0.5s ease-out;
}

.menu-sign-up {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    width: 150px;
    height: 125px;
    display: none;
    opacity: 0;
    background-color: #BABABA;

    font-size: 24px;
    transition: opacity 1s ease-out 0.4s;
}

#menu-check:checked ~ .content .menu {
    left: 0;
    transition: left 0.5s ease-out;
}

#menu-sign-check:checked ~ .header .menu-sign-up-btn-wrapper .menu-sign-up {
    top: 80px;
    left: -80px;
    position: absolute;
    display: block;
    opacity: 1;
    transition: opacity 1s ease-out 0.4s;
}

.menu__name {
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

.menu__item {
    margin-bottom: 10px;
    background-color: #ADADAD;
    cursor: pointer;
    color: #000000;
}

.menu__item a {
    display: block;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    color: #000;
}

.menu__item:hover {
    background-color: #939393;
}

.footer {
    background-color: #FFFACC;
}


.error {
    color: red;
}

.error_padding {
    margin-top: 5px;
    margin-left: 30px;
}

/* CARD */
.card {
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
    background-color: #FFFACC;
}

/** INPUTS **/
.input-button {
    height: 42px;
    width: 100%;
    text-align: center;
    outline: none;
    padding: 0 24px;
    font-size: 24px;
    font-family: 'Questrial', serif;
    border: solid 1px #D3B307;
    box-shadow: 3px 3px 3px #C4C4C4;
    background-color: #FEE044;
    text-decoration: none;
    cursor: pointer;
}

.input-text {
    height: 32px;
    font-size: 24px;
    outline-color: #C4C4C4;
}


/** CAROUSEL **/
.event-carousel {
    position: relative;
    box-sizing: content-box;
    height: 250px;
    border-radius: 8px;
    border: 1px solid #BABABA;
    margin: 20px 30px;
}

.carousel-arrow {
    background: none;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
}

.carousel-arrow-svg {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.event-carousel__arrow_left {
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    transform: scale(-1, 1);
}

.event-carousel__arrow_right {
    position: absolute;
    top: 50%;
    right: -30px;
    margin-top: -15px;
}
.event-carousel-card-super-wrapper {
    overflow: hidden;

    max-width: 100%;
}

.event-carousel-card-wrapper {
    display: flex;
    transition: transform 700ms;
}

.event-carousel__card {
    width: 200px;
    height: 250px;
    margin: inherit;
}
.event-carousel__card-photo {
    height: 200px;
    width: 200px;
    padding: 30px 10px;
    object-fit: cover;
    object-position: center;
}
.event-carousel__card-name {
    display: block;
    overflow: hidden;

    width: 100%;
    font-size: 25px;
    text-align: center;
    text-wrap: none;
    text-overflow: ellipsis;
}