html,
body {
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #FFF8EA;
}
.wrapper {
    height: 80px;
    z-index: 3;
    position: sticky;
    top: 0;
}
.header {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    background-color: #FEE044;

    font-weight: normal;
    top: 0;
}
.header__name {
    margin: 20px;
    font-size: 35px;
    font-family: 'Questrial', serif;
}
.header__name a {
    text-decoration: none;
    color: #000000;
}

.page-btn {
    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 0;
    border: none;
    outline: none;

    text-align: center;
    text-decoration: none;

    font-size: 30px;
    background-color: #FEE044;
    cursor: pointer;
}

#menu-check {
    display: none;
}

#menu-sign-check {
    display: none;
}

#menu-check:checked ~ .wrapper .header .header__btn-menu {
    transform: rotate(90deg);
}
.content {
    position: relative;
     height: 100%;
 }
.menu {
    z-index: 2;
    position: absolute;
    display: block;
    width: 70%;
    top: 0;
    height: 100%;
    left: -70%;
    background-color: #BABABA ;

    font-family: 'Questrial', serif;
    font-size: 25px;
    transition: left 1s ease-out 0.2s;
}
.menu-sign-up {
    z-index: 2;
    position: absolute;
    display: block;
    width: 150px;
    height: 100px;
    top: -100px;
    right: 10%;
    background-color: #BABABA ;

    font-family: 'Questrial', serif;
    font-size: 25px;
    transition: top 1s ease-out 0.1s;
}
#menu-check:checked ~ .content .menu {
    left: 0;
    transition: left 1s ease-out 0.2s;
}

#menu-sign-check:checked ~ .menu-sign-up {
    top: 70px;
    transition: top 1s ease-out 0.1s;
}
.menu__name {
    padding: 10px;
    font-weight: normal;
    text-align: center;
}
.menu__item {
    padding: 15px;
    margin: 10px 0;
    background-color: #ADADAD;
    cursor: pointer;
    color: #000000;
}
.menu__item a {
    text-decoration: none;
    color: #000;
}
.menu__item:hover {
    background-color: #939393;
}
.footer {
    background-color: #FFFACC;
}


.carousel {
    position: relative;
    width: 398px;
    padding: 10px 40px;
}

.li__img {
    width: 130px;
    height: 130px;
    display: block;
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    background: #ddd;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 24px;
    line-height: 24px;
    color: #444;
    display: block;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.prev {
    left: 7px;
}

.next {
    right: 7px;
}

.gallery {
    width: 390px;
    overflow: hidden;
}

.gallery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left .2s;
    font-size: 0;
}

.gallery li {
    display: inline-block;
    width: 130px;
}