body {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #FFF8EA;
}

.form {
    display: flex;
    align-content: space-around;
    flex-direction: column;

    margin-bottom: 20px;

    font-family: 'Questrial', serif;
}

.form__name {
    margin: 30px 0;
    font-size: 30px;
}

.form__radio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    margin: 0 30px;

    font-size: 15px;
}

.form__item {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.form__item input {
    height: 32px;
    font-size: 25px;
    outline-color: #C4C4C4;
}

.form__item textarea {
    font-size: 20px;
    outline-color: #C4C4C4;
    resize: none;
}
.form__time-borders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-label {
    font-size: 20px;
}

.form__item input {
    width: 100%;
    background-color: #FFFFFF;
    font-family: 'Questrial', serif;
}