@import "profile.css";

.input-button_register {
    display: inline-block;
    padding: 8px 24px;
    color: inherit;
}

.volunteers-list {
    text-decoration: none;
}

.card_volunteer {
    padding: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar-wrapper_mini {
    height: 75px;
    width: 75px;
}