.text-title {
    font-size: 32px;
    padding: 12px;
    text-align: center;
}

.text-line {
    font-size: 24px;
    padding: 12px;
}

.text-line_overflowed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-line_end {
    text-align: end;
}

.text-line_big {
    font-size: 1.2em;
}

.text-line_alpha {
    opacity: 0.8;
}

.text-line_centered {
    text-align: center;
}

.profile {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.profile__item {
    position: relative;
    width: 100%;
    padding: 4px;
    margin-bottom: 32px;
}

.profile__item_main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
    border-radius: 0;
}

.profile__item_description {
    word-break: break-all;
}

.main-info__avatar {
    flex: 50% 1 0;
}

.main-info__text {
    flex: 50% 1 0;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text__text-line {
    flex: 1 0;
    margin-bottom: 12px;
}


.avatar-wrapper {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.4s;
    background: #BABABA;
}

.avatar-image {
    height: 100%;
    object-fit: contain;
}