html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    background-color: #FFF8EA;
}
.header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    position: sticky;
    background-color: #FEE044;
    top: 0;
}
.header__name {
    font-family: 'Questrial', serif;
}
.page-btn {
    display: inline-block;

    width: 40px;
    height: 40px;
    margin: 20px;
    padding: 0;
    border: none;
    outline: none;

    text-align: center;
    text-decoration: none;

    font-size: 30px;
    background-color: #FEE044;
    cursor: pointer;
}
.footer {
    background-color: #FFFACC;
}
.content {
    height: 100%;
}
.form {
    display: flex;
    align-content: space-around;
    flex-direction: column;
}