<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
</head>
<body>
<input type="checkbox" id="menu-check">
<header class="header">
    <label for="menu-check" class="header__btn-menu page-btn">☰</label>
    <h1 class="header__name">Uthanks</h1>
    <button class="header__btn-search page-btn">🔎</button>
    <a href="/sign-up" class="header__btn-log-in">Sign up</a>
</header>
<nav class="menu">
    <h2 class="menu__name">Menu</h2>
    <div class="menu__item">Companies</div>
    <div class="menu__item">Events</div>
    <div class="menu__item">About us</div>
    <div class="menu__item">Our contacts</div>
</nav>
<main class="content"></main>
<footer class="footer"></footer>
</body>
</html>