<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" href="../static/css/common.css">
</head>
<body>
<input type="checkbox" id="menu-check">
<div class="wrapper" th:fragment="head">
    <input type="checkbox" id="menu-sign-check">
    <header class="header">
        <label for="menu-check" class="header__btn-menu page-btn">☰</label>
        <h1 class="header__name">
            <a href="/">Uthanks</a>
        </h1>
        <img class="header__btn-search page-btn" th:src="@{/images/search.png}" src="../static/images/search.png">
        <label for="menu-sign-check">
            <img class="header__btn-search page-btn" th:src="@{/images/user.png}"
                 src="../static/images/user.png">
        </label>
    </header>
    <nav class="menu-sign-up" th:fragment="menu-sign">
        <div class="menu__item">
            <a th:if="${session.user}" th:href="@{/}" class="menu__item">Profile</a>
            <a th:unless="${session.user}" th:href="@{/sign-up}" class="menu__item">Sign up</a>
        </div>
        <div class="menu__item">
            <a th:if="${session.user}" th:href="@{/log-out}" class="menu__item">Log out</a>
            <a th:unless="${session.user}" th:href="@{/log-in}" class="menu__item">Log in</a>
        </div>
    </nav>
</div>

<main class="content">
    <nav class="menu" th:fragment="menu">
        <h2 class="menu__name">Menu</h2>
        <div class="menu__item">Companies</div>
        <div class="menu__item">Events</div>
        <div class="menu__item">About us</div>
        <div class="menu__item">Our contacts</div>
    </nav>
    <div class="carousel" th:fragment="carousel">
        <button class="arrow prev">⇦</button>
        <div class="gallery">
            <ul class="images">
                <li><img src="https://ru.js.cx/carousel/1.png"></li>
                <li><img src="https://ru.js.cx/carousel/2.png"></li>
                <li><img src="https://ru.js.cx/carousel/3.png"></li>
                <li><img src="https://ru.js.cx/carousel/4.png"></li>
                <li><img src="https://ru.js.cx/carousel/5.png"></li>
                <li><img src="https://ru.js.cx/carousel/6.png"></li>
                <li><img src="https://ru.js.cx/carousel/7.png"></li>
                <li><img src="https://ru.js.cx/carousel/8.png"></li>
                <li><img src="https://ru.js.cx/carousel/9.png"></li>
                <li><img src="https://ru.js.cx/carousel/10.png"></li>
            </ul>
        </div>
        <button class="arrow next">⇨</button>
    </div>
    <script type="text/javascript" src="../static/js/carousel.js" th:src="@{/js/carousel.js}" th:fragment="carousel-script"></script>
</main>
<footer class="footer" th:fragment="foot"></footer>
</body>
</html>