<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-event.css}" href="../static/css/create-event.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<div th:replace="common :: head"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <form class="form">
        <div class="form__name">Create an event</div>
        <div class="form__item">
            <label for="name" class="input-label">Name:</label>
            <input required type="text" id="name">
            <!--            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>-->
        </div>
        <div class="form__item">
            <label for="date-begin" class="input-label">Start:</label>
            <input required type="date" id="date-begin">
        </div>
        <div class="form__item">
            <label for="date-end" class="input-label">Finish:</label>
            <input required type="date" id="date-end">
        </div>
        <div class="form__item">
            <label for="date-end" class="input-label">Desired amount of volunteers:</label>
            <input required type="number" id="volunteers-count" max="100">
        </div>

        <div class="form__item">
            <label for="desc" class="input-label">Description:</label>
            <textarea required type="text" id="desc" class="form__desc" rows="10"></textarea>
        </div>
        <input type="submit" id="submit" value="Create event" class="form__submit">
    </form>
</main>
<div th:replace="common :: foot"></div>
</body>
</html>