<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="common :: head(~{::link})">
    <title>UThanks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/events.css}" href="../static/css/events.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <h2 class="page-name">Events</h2>
    <ul class="page-content">
        <li class="page-content__card" th:each="event : ${events}">
            <img src="../static/images/dummy.jpg" th:src="@{/images/dummy.jpg}" class="card-photo">
            <div class="card-info">
                <h3 class="card-name" th:text="${event.name}">NEERC</h3>
                <div class="card-comp-wrap"><span class="card-company">Company: </span>
                    <span class="card-company" th:text="${event.creator.name}">ITMO University</span></div>

                <h4 class="card-about-events">Description</h4>
                <div class="card-about" th:text="${event.description}">
                    Blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah
                    -blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah
                    -blah-blah-blah-blah-blah-blah-blah-blah-blah-blah-blah
                </div>
                <script type="text/javascript" src="../static/js/ellipsis.js" th:src="@{/js/ellipsis.js}"></script>
                <a href="/not-found" th:href="@{/not-found}" class="card-more">View more</a>
            </div>
        </li>
    </ul>
</main>
<footer th:replace="common :: foot"></footer>
</body>
</html>