<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up.css}" href="../static/css/sign-up.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<div th:replace="common :: head"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <form class="form" th:action="@{/log-in}" th:object="${enterForm}" method="post">
        <div class="form__name">Log in</div>
        <div class="form__item">
            <label for="login">Login:</label>
            <input required type="text" id="login" maxlength="32" th:field="*{login}">
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        </div>
        <div class="form__item">
            <label for="pass">Password:</label>
            <input required type="password" id="pass" maxlength="32" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <input type="submit" id="submit" value="Log in" class="form__submit">
    </form>
</main>
<div th:replace="common :: foot"></div>
</body>
</html>