<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main-page.css}" href="../static/css/main-page.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<div th:replace="common :: head"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <img src="images/hands.png" th:src="@{/images/hands.png}" class="hands">
    <div class="slogan">
        Want to help people? </br>
        Do not know how to do it? </br>
        That’s why we are existing! </br>
    </div>
    <div th:replace="common :: carousel"></div>
    <script th:replace="common :: carousel-script"></script>
<!--    <div class="User?" th:if="${session.user}" th:text="${session.user.getLogin()}"></div>-->
    <div class="main-info">
        Uthanks is a social network for volunteers. It helps people to find each other in different
        situations.
        Nowadays, almost every person has a mobile phone with a stable Internet connection. It makes communication
        between people much easier. Old and slow methods of finding volunteers for events are in the past. With our
        website, organizations just need to write an announcement and wait for replies from Uthanks users.
        People with an opportunity and desire to help somebody can sign up and find a task where their qualities may be
        useful.
    </div>
</main>
<div th:replace="common :: foot"></div>
</body>
</html>