<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>UThanks</title>
    <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign-up.css}" href="../static/css/sign-up.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<div th:replace="common :: head"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <form class="form" th:action="@{/sign-up}" th:object="${registerForm}" method="post">
        <div class="form__name">Sign up</div>
        <div class="form__radio">
            <div class="radio-index">
                <input type="radio" name="type" id="comp" value="0" th:field="*{userType}" checked>
                <label for="comp">Company</label>
            </div>
            <div class="radio-index">
                <input type="radio" name="type" id="pers" value="1" th:field="*{userType}">
                <label for="pers">Person</label>
            </div>
        </div>
        <div class="form__item">
            <label for="login">Login:</label>
            <input required type="text" id="login" maxlength="32" th:field="*{login}">
            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        </div>
        <div class="form__item">
            <label for="pass">Password:</label>
            <input required type="password" id="pass" maxlength="32" th:field="*{password}">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
        <div class="form__item">
            <label for="email">E-mail:</label>
            <input required type="email" id="email" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <input type="submit" id="submit" value="Sign up" class="form__submit">
    </form>
</main>
<footer class="footer"></footer>
</body>
</html>