<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="common :: head(~{::link})">
    <title>UThanks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user-edit.css}"
          href="../static/css/user-edit.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <form class="form form_edit" th:if="${session.user}"
          th:action="@{/users/{id}/edit(id=${session.user.id})}" th:object="${userInfo}"
          method="post">
        <div class="input-area form__item_edit edit-form__item_title">
            <h2 class="page-title">Edit profile</h2>
        </div>
        <div class="input-info form__item form__item_edit">
            <label class="info-name input-info__label" for="info-name">Name: </label>
            <input class="input-text input-text__edit input-info__input" id="info-name" type="text"
                   th:field="*{name}" required>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>

        </div>
        <div class="input-info form__item form__item_edit">
            <label class="info-name input-info__label" for="info-age">Age: </label>
            <input class="input-text input-text__edit input-info__input" id="info-age" type="number"
                   th:field="*{age}">
        </div>
        <div class="input-info form__item form__item_edit">
            <label class="info-name input-info__label" for="info-country">Country: </label>
            <input class="input-text input-text__edit input-info__input" id="info-country"
                   type="text" th:field="*{country}">
        </div>
        <div class="input-info form__item form__item_edit">
            <label class="info-name input-info__label" for="info-skills">Skills: </label>
            <textarea class="input-area input-text__edit input-area_edit input-i nfo__input"
                      id="info-skills" th:field="*{skills}"></textarea>
        </div>
        <div class="input-info form__item form__item_edit">
            <input class="input-info__submit input-button input-button_edit-info" type="submit"
                   th:value="Save">
        </div>
    </form>
    <div th:replace="common :: to-top"></div>
    <script th:replace="common :: to-top-script"></script>
</main>
<footer th:replace="common :: foot"></footer>
</body>
</html>