<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head th:replace="common :: head(~{::link})">
    <title>UThanks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user.css}" href="../static/css/user.css">
</head>
<body>
<div th:replace="common :: #menu-check"></div>
<main class="content">
    <div th:replace="common :: menu"></div>
    <div class="profile">
        <div class="profile__item profile__item_main-info">
            <div class="main-info__avatar">
                <div class="avatar-wrapper">
                    <img class="avatar-image" th:src="@{/images/user.png}" src="images/user.png"
                         alt="User">
                </div>
            </div>
            <div class="main-text main-info__text">
                <p class="main-text__text-line text-line text-line_end text-line_big"
                   th:if="${userInfo != null && userInfo.fullName == null}">
                    [[${userInfo.login}]]</p>
                <p class="main-text__text-line text-line text-line_end text-line_big"
                   th:if="${userInfo != null && userInfo.fullName != null}">
                    [[${userInfo.fullName}]]</p>
                <p class="main-text__text-line text-line text-line_end text-line_margined text-line_alpha"
                   th:if="${userInfo}">[[${userInfo.age}]] years</p>
            </div>
        </div>
        <div class="profile__item edit-info" th:if="${session.user != null && userInfo.id == session.user.id}">
            <a class="input-button input-button_edit-info" th:href="@{/users/{id}/edit(id=${userInfo.id})}">Edit profile</a>
        </div>
        <div class="card profile__item user-card__item_main-text">
            <h3 class="text-title">About</h3>
            <p class="text-line">Best of the best</p>
        </div>
        <div class="card profile__item user-card__item_skills"
             th:if="${userInfo.role.getName()} == ${volunteerRole}">
            <h3 class="text-title">Skills</h3>
            <p class="text-line" th:if="${userInfo}">[[${userInfo.skills}]]</p>
            <p class="text-line">Best of the best Best of the best Best of the best Best of the best
                Best of the best Best of the best Best of the best</p>
        </div>
        <div class="card profile__item user-card__item_events">
            <h3 class="text-title">Events</h3>
            <div class="event-carousel">
                <!--TODO сделать шаблон карточки thymeleaf-->
                <button class="carousel-arrow event-carousel__arrow_left">
                    <img class="carousel-arrow-svg" th:src="@{/images/arrow-right.svg}"
                         src="images/arrow-right.svg" alt="left arrow">
                </button>
                <button class="carousel-arrow event-carousel__arrow_right">
                    <img class="carousel-arrow-svg" th:src="@{/images/arrow-right.svg}"
                         src="images/arrow-right.svg" alt="right arrow">
                </button>
            </div>
        </div>
        <div class="card profile__item user-card__item_comments">
            <h3 class="text-title">Comments</h3>
            <div class="comments">
                <ul class="comments-list">
                    <li class="comment">
                        <p class="text-line">Comment #1</p>
                    </li>
                    <li class="comment">
                        <p class="text-line">Comment #2</p>
                    </li>
                </ul>
            </div>
            <form class="comment-form">
                <label class="text-line comment-form__label" for="comment">
                    Post your comment:
                </label>
                <textarea class="comment-area comment-form__text-area" id="comment"
                          placeholder="Post a new comment here" aria-required="true"></textarea>
                <button class="comment-form__button" type="submit">
                    Add comment
                </button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="common :: foot"></footer>
</body>
</html>